<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @author.alias %>
</p>

<p>
  <strong>Tw user:</strong>
  <%= @author.tw_user_id %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
